zarr
fsspec[gcs]==2023.9.2
jax==0.4.30
jaxlib==0.4.30
libtpu-nightly==0.1.dev20240617 
-f https://storage.googleapis.com/jax-releases/libtpu_releases.html
einops
hydra-core
clearml
clearml-agent
typeguard==4.1.5
transformers  # For Huggingface data loader
datasets>=2.19.0,<3.0.0  
torch[cpu]    # For Huggingface data loader
optuna
pyyaml>=6.0.1    
zstandard